In [1]:
import pandas as pd
df = pd.read_csv("./banjir.txt", sep="\t")
df = df.dropna()
X = df.drop(["nama_pintu_air","lokasi","latitude","longitude","tanggal","status_siaga","kota","banjir"], axis=1)

# column : nama_pintu_air, kota, tinggi_air
# convert categorical to numerical

print (X);

y = df["banjir"]
X.sample(5, random_state=44)

        kode_pintu  tinggi_air  kode_kota
0               16         680          1
1                6           0          2
2                9        9580          0
3               10         890          3
4               11        7070          0
...            ...         ...        ...
323185          17        1800          4
323186          18        1580          3
323187          19        1100          3
323188          21        1530          2
323189           1        1680          1

[323190 rows x 3 columns]

        kode_pintu  tinggi_air  kode_kota
218743          24       -1830          2
99200            2        3260          1
189041          23          10          0
17032            1        1480          1
314952           3         350          1

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

x_train = X
y_train = y

rf_model = RandomForestClassifier(random_state=1)
rf_model.fit(x_train, y_train)

banjir_test  = pd.read_csv("./banjir_test.txt", sep="\t")
banjir_test = banjir_test.dropna()
X_test = banjir_test.drop(["banjir"], axis=1)
y_test = banjir_test["banjir"]

predictions = rf_model.predict(X_test)

# save prediction to file
banjir_test["predictions"] = predictions
banjir_test.to_csv("./banjir_prediction_rf.txt", sep="\t", index=False)

# check the prediction accuracy
ac = accuracy_score(y_test, predictions)
print(ac)

0.9112347321320595